---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -misc-non-private-member-variables-in-classes,
        -readability-identifier-length,
        -cppcoreguidelines-special-member-functions,
        -portability-avoid-pragma-once,
        -hicpp-special-member-functions,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -readability-avoid-const-params-in-decls
"
FormatStyle: clang-format
HeaderFilterRegex: '.*[/\\]parteeengine-v2[/\\](include|src)[/\\].*'